body {
   margin-top: 25px;
}

.img-fluid {
   padding-bottom: 30px;
   border-radius: 2vw;
}

footer {
   height: 100px;
   background-color: darkgrey;
   display: flex;
   align-items: center;
   justify-content: center;
   color: black;
   font-size: 18px;
}

.SocialMedia-icon {
   width: 60px;
   height: 60px;
   border-radius: 10%;
}

#PFlinkBlock {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   width: 50%;
   padding-left: 10px;
   border-left: 1px groove lightgray;
}

#justMe {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   text-align: right;
   width: 50%;
   display: inline-block;
   padding-right: 10px;
}