footer {
   height: 100px;
   background-color: #4c1f95;
   display: flex;
   align-items: center;
   justify-content: center;
   color: bisque;
   font-size: 18px;
}

.SocialMedia-icon {
   width: 60px;
   height: 60px;
   border-radius: 10%;
}

#PFlinkBlock {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   width: 50%;
   padding-left: 10px;
   border-left: 1px groove bisque;
}

#justMe {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   text-align: right;
   width: 50%;
   display: inline-block;
   padding-right: 10px;
}